#About-Section {
  margin: 7rem 0rem 4rem 0rem;
}

#special-format {
  padding: 0.5rem 0rem;
  border-bottom: 1px;
  border-color: white;
  border-style: solid;
  margin-bottom: 1rem;
  max-width: 5.4rem;
}

.line-height {
  line-height: 1.49rem;
}