.Nav-bar {
  position: fixed;
  top: 0;
  justify-content: center;
  max-width: 360px;
  border-radius: 30px;
  margin: 15px;
}

.Nav-btn {
  height: 40px;
  width: 100px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.Nav-btn:hover { 
  background-color: #a1a1a1e7;
  transition: 0.5s ease;
}

#scrollStyle {
  background-color: #212121da;
  transition: 0.8s ease;
}

#fixedStyle {
  background-color: transparent;
  transition: 0.8s ease;
}