.Nav-bar {
  position: fixed;
  top: 0;
  justify-content: center;
  max-width: 22.5rem;
  border-radius: 30px;
  margin: 0.938rem;
  padding: 0.313rem;
}

.Nav-btn {
  height: 2.5rem;
  width: 6.25rem;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding: 0.125rem 0.375rem;
}
.Nav-btn:hover { 
  background-color: #a1a1a1e7;
  transition: 0.5s ease;
}

#scrollStyle {
  background-color: #212121da;
  transition: 0.8s ease;
}

#fixedStyle {
  background-color: transparent;
  transition: 0.8s ease;
}