@import url('./fonts/fonts.css');


html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Raleway-regular', sans-serif;
  letter-spacing: .17rem;
}
/* mainly used for custom fonts */
.raleway-itl {
  font-family: 'Raleway-italic';
}
.raleway-bold {
  font-family: 'Raleway-bold';
}
/* centralized font size that can be inherited */
.headings-size {
  font-size: 2.188rem;
}
.subheading-font {
  font-size: 1.6rem;
}

.flex-container {
  display: flex;
}
.App-container {
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}